<div class="container">
  <h3>投稿しますか？</h3>
    <%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
      <%= form.hidden_field :title %>
      <%= form.hidden_field :content %>

      <div class="row">
        <article class="col-xs-12 col-md-4">タイトル</article>
        <article class="col-xs-12 col-md-8"><%= @blog.title %></article>
      
        <article class="col-xs-12 col-md-4">内容</article>
        <article class="col-xs-12 col-md-8"><%= @blog.content %></article>
      </row>
      
      <p><%= form.submit "投稿", :class => 'btn btn-success' %></p>
    <% end %>
    
      <br>
      <%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
        <%= form.hidden_field :title %>
          <%= form.hidden_field :content %>
          <p><%= form.submit "戻る", name: 'back', :class => 'btn btn-default' %></p>
      <% end %>
    </article>
  </div>
</div>